h2 {
  color: #6E2C00;
}

p{
  color: #424949;
}

img {
  margin-left: 20%;
  border-radius: 50%;
  border: solid;
  border-color: #6E2C00;
  border-width: 40px;
}

body {
  background-color: beige;
}
.intro {
  background-color: #AB8880;
}
